---
import TailwindIcon from '../assets/icons/Tailwind.astro'
import SprintBootIcon from '../assets/icons/SpringBoot.astro'
import ReactIcon from '../assets/icons/React.astro'
import PythonIcon from '../assets/icons/Python.astro'

const TAGS = {
    REACT: {
        name: 'React',
        class: 'bg-[#9ee7ff] text-gray-800 dark:bg-[#00455c] dark:text-white',
        icon: ReactIcon
    },
    TAILWIND: {
        name: 'Tailwind CSS',
        class: 'bg-[#ccf1ff] text-gray-800 dark:bg-[#00658a] dark:text-white',
        icon: TailwindIcon
    },
    SPRINGBOOT: {
        name: 'Spring Boot',
        class: 'bg-[#d3ffad] text-gray-800 dark:bg-[#397a00] dark:text-white',
        icon: SprintBootIcon
    },
    PYTHON: {
        name: 'Python',
        class: 'bg-[#b0dbff] text-gray-800 dark:bg-[#1c374f] dark:text-white',
        icon: PythonIcon
    }
}

const PROJECTS = [
    {
        title: 'Gestión educativa',
        description: 'Plataforma web integral desarrollada para la gestión académica universitaria que permite administrar cursos, profesores, estudiantes y el control de asistencias de manera eficiente. El sistema incluye análisis de datos en tiempo real con predicción de deserción estudiantil basada en patrones de asistencia.',
        link: '#',
        github: '#',
        image: '/projects/asistencias.webp',
        tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.SPRINGBOOT, TAGS.PYTHON]
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article class="space-y-2">
            <img
            class="rounded shadow-2xl shadow-black/10 dark:shadow-white/10" 
            src={image} alt={`Captura de pantalla del proyecto ${image}`}
            >
            <h3 class="font-monospace font-bold text-2xl mt-2 text-gray-600 dark:text-amber-100">{title}</h3>
            <p class="text-gray-700 dark:text-white text-pretty mb-4">{description}</p>
            <ul class="text-white flex flex-wrap gap-2">
                {tags.map(tag =>(
                <li >
                    <span class={`flex items-center justify-center rounded-lg py-1 px-2 gap-x-1 ${tag.class}`}>
                        <tag.icon class="size-5"/>
                        {tag.name}
                    </span>
                </li>
                ))}
            </ul>
        </article>
    ))
}